$orange:	   #ffa500 !default;
$blue:  	   #58c9f9 !default;
$dark-blue:    #337ab7 !default;
$white: 	   #fff !default;
$light-grey:   #606060 !default;
$danger-color: #ff6c60 !default;
$green:  #66cd33 !default;
$cancel: #bec3c7 !default;
$blue-text: #66ccff !default;




$font-weight_300: 300;
$font-weight_400: 400;
$font-weight_600: 600;
$font-weight_700: 700;
$font-weight_800: 800;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, label {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
	font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  background: #f1f2f7;
  color: $light-grey;
}

.wrapper {
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  width: 55%;
  margin-left: 20%;
}
